
/** SPANS WHOLE APPLICATION **/
body {
	/* background from http://www.palazzinag.com/hotel-venice/background-pg-restaurant-atmosfera002.jpg */
	background: url("./images/main-background.png");
	background-repeat: no-repeat; 
	background-position: -20px 0px; 
	background-attachment: fixed;
}

.container {
	color: #ffffff;
	width: 75%;
	margin: 0 auto;
	/* border: 1px white solid; */
	background: rgba(0,0,0,0.7);
	padding: 20px;
	text-align: center;
	border-radius: 5px;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color:white;
	border: 1px white solid;
	padding: 2px;
}

a:hover {
	background:  #ffffff;
	color: #000000;
}

.danger {
	color: red;
}

.subject {
	text-decoration: underline;
}

.wrapper {
	text-align: left;
	padding-top: 3%;
	padding-left: 10%;
	padding-right: 10%;
}

.flashes {
	color: yellow;
}


/** SPANS RESTAURANT PAGE **/


.restaurant-image {
	display: inline-block;
	text-align: left;
}

.restaurant-body {
	display: inline-block;
	text-align: left;
	margin-left: 20px;
}


/** SPANS MENU PAGE **/
.course {
	border-bottom: 1px white solid;
	color: green;
}



