<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
	</head>
	<body>
		<div class="container">
			<header>
				<h1>{{ title }}</h1>
			</header>
			<section class="form-section">
				<p>You are about to edit {{ restaurant.name }}.</p>
				<form method="POST" action="{{ url_for('editRestaurant', restaurant_id = restaurant.id )}}">
					<p>					
						<label for="restaurant-name"> Name: 				
							<input type="text" name="restaurant-name" placeholder="{{ restaurant.name }}">
						</label>
					</p>	
					<!-- TODO: ADD IMAGE URL INPUT-->
					<!-- TODO: ADD DESCRIPTION TEXTAREA-->
					<input class="buttons" type="submit" value="Edit">
					<a class="buttons" href="/">Cancel</a>
				</form>
			</section>
		</div>
	<body>
</html>
