{% extends "layout.html" %}
{% block content%}
	<section class="form-section">
		<p>You are about to edit the {{ menu.name }} menu item.</p>
		<form method="POST" action="{{ url_for('editMenuItem', restaurant_id = restaurant_id, menu_id = menu.id) }}">
			
			<p>					
				<label for="menu-name"> Name: 				
					<input type="text" name="menu-name" placeholder="{{ menu.name }}">
				</label>
			</p>
			<p>					
				<label for="menu-description"> Description: 				
					<input type="text" name="menu-description" placeholder="{{ menu.description }}">
				</label>
			</p>
			<p>					
				<label for="menu-course"> Course: 				
					<input type="text" name="menu-course" placeholder="{{ menu.course }}">
				</label>
			</p>
			<p>					
				<label for="menu-price"> Price: 				
					<input type="text" name="menu-price" placeholder="{{ menu.price }}">
				</label>
			</p>
			<input class="buttons" type="submit" value="Edit">
			<a class="buttons" href="{{ url_for('restaurantMenu', restaurant_id = restaurant_id) }}">Cancel</a>
		</form>
	</section>
{% endblock %}
