{% extends "layout.html" %}
{% block content%}
	<section class="form-section">
		<form method="POST" action="{{ url_for('newMenuItem', restaurant_id = restaurant_id) }}">
			<p>					
				<label for="menu-name"> Name: 				
					<input required type="text" name="menu-name" placeholder="New Menu Name">
				</label>
			</p>
			<p>					
				<label for="menu-course"> Course: 				
					<input required type="text" name="menu-course" placeholder="Course">
				</label>
			</p>
			<p>					
				<label for="menu-description"> Description: 				
					<input required type="text" name="menu-description" placeholder="Description">
				</label>
			</p>
			
			<p>					
				<label for="menu-price"> Price: 				
					<input required type="text" name="menu-price" placeholder="$9.99">
				</label>
			</p>
			<input class="buttons" type="submit" value="Add">
			<a class="buttons" href="{{ url_for('restaurantMenu', restaurant_id = restaurant_id) }}">Cancel</a>
		</form>
	</section>
{% endblock %}
